.gameWrapper{
    width: 100%;
    height: calc(100vh - 130px);
    /*width: calc(100vw);*/
    position: relative;

    display: flex;
    background-color: brown; /*Dev color*/
}

.gameWrapper .slotsWraper{
    height: 100%;
    width: calc(100% - 250px);
    display: flex;
    justify-content: center;

    background-color: gray; /*Dev color*/
}

.gameWrapper .slotsWraper .slotsScreen{
    aspect-ratio: 2/1;
    height: 100%;
    max-width: 100%;

    background-color: greenyellow; /*Dev color*/
}

.gameWrapper .slotsGame{
    width: 100%;
    height: 80%;

    background-color: darkblue; /*Dev color*/
}

.gameWrapper .slotsUI{
    width: 100%;
    height: 20%;

    background-color: rgb(240, 127, 255); /*Dev color*/
}