
.nestedLayout{
    display: flex;
    height: 100%;
    width: 200px;

    background-color: brown; /*Dev color*/
}

.gameNavPanel{
    position: absolute;
    

}
.gameButtonsPanel{

    
}
.gameNavButton{
    
}