
.nested-layout{
    display: flex;
    height: 100vh;
    background-color: rgb(54, 129, 54);
}

.gameNavPanel{
    position: absolute;
    height: 100%;

}
.gameButtonsPanel{

    
}
.gameNavButton{
    
}