.gameWrapper .slotsWraper {
  height: 100%;
  width: calc(100% - var(--rulesPanel-width));
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--dark-secondary-color);
}

.gameWrapper .slotsWraper .slotsScreen {
  background-color: greenyellow; /*Dev color*/
}

.gameWrapper .slotsGame {
  width: 100%;
  height: 80%;

  overflow: hidden;
  display: flex;

  background-color: var(--bright-secondary-color); /*Dev color*/
}

.gameWrapper .slotsUI {
  width: 100%;
  height: 20%;
  position: relative;

  font-size: 1em;

  background-color: rgb(68, 139, 100);
}

.gameWrapper .patternScreen {
  position: fixed;
  top: calc(50vh - 250px);
  left: calc(50vw - 400px);

  height: 500px;
  width: 800px;

  background-color: black;
}

.slotsGame .slotsColumn {
  width: 20%;
  height: 100%;

  position: relative;
  display: flex;
  justify-content: center;

  /*background-color: blanchedalmond; /*Dev color*/
}

.slotsColumn img {
  height: 30%;
  aspect-ratio: 1 / 1;
  top: -35%; /*-30% to 105%*/

  transition: none;

  position: absolute;
}

@keyframes slotSpin {
  0% {
    top: -35%;
  }
  100% {
    top: 105%;
  }
}

.slotsColumn .spinning {
  animation: slotSpin 0.5s linear infinite;
}

.spinButton {
  --spinButton-height: 75%;

  width: 25%;
  height: var(--spinButton-height);

  line-height: var(--spinButton-height);
  font-size: 1em;

  position: absolute;
  top: calc(50% - calc(var(--spinButton-height) / 2));
  right: 1.5%;

  cursor: pointer;
  border: 6px solid rgb(180, 16, 16); /*Dev color*/
  border-radius: 20%; /*Change latter looks uglt with different top and bottom radiuses because of %*/
  background-color: rgb(223, 19, 19); /*Dev color*/
}

.spinButton:hover {
  background-color: color-mix(in hsl, rgb(223, 19, 19) 90%, white 10%);
}

.spinButton:active {
  background-color: color-mix(in hsl, rgb(223, 19, 19) 60%, black 40%);
}

.betButtonsWrapper {
  position: absolute;

  --betButtons-height: 75%;

  height: var(--betButtons-height);
  aspect-ratio: 1/2;

  top: calc(50% - calc(var(--betButtons-height) / 2));
  right: 28%;

  display: flex;
  flex-direction: column;
}

.betButtonsWrapper button {
  height: 50%;

  font-size: 0.5em;
  line-height: 100%;

  cursor: pointer;
  border: 6px solid rgb(180, 16, 16); /*Dev color*/
  border-radius: 40%;
  background-color: rgb(223, 19, 19); /*Dev color*/
}

.betButtonsWrapper button:hover {
  background-color: color-mix(in hsl, rgb(223, 19, 19) 90%, white 10%);
}

.betButtonsWrapper button:active {
  background-color: color-mix(in hsl, rgb(223, 19, 19) 60%, black 5%);
}

.slotsUI small {
  font-size: 0.5em;
}
