
.game_page{
    height: 100vh;
    background-color: var(--middle-primary-color);
}

.box{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    
    
    justify-content: center;
    height: 75%;
    aspect-ratio: 1/1;
    background-color: rgb(29, 39, 29);
    
}

.game-2_button{
    position: a;
    height: 17%;
    aspect-ratio: 1/1;
    margin: 7.3%;
    font-size: 18px;
   
    color: rgb(241, 241, 241);
    background-color: rgb(45, 91, 47);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}




