.ProfilePage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height: 100vh;

    
}
.loggg{
    
    position: absolute;
    top: 50%;
    left:50%;
    width: 100px;
    height: 100px;

}