
.minesPage{
    flex: 1;
    height: 100%;
    width: 100%;
    background-color: black;
}

.box{
    position: absolute;
    left: 30%;
    display: flex;
    justify-content: center;
    height: 75%;
    aspect-ratio: 1/1;
    background-color: rgb(29, 39, 29);
    
}

.gameMinesButton{
    height: 17%;
    aspect-ratio: 1/1;
    margin: 7.3%;
    font-size: 20px;
   
    color: rgb(241, 241, 241);
    background-color: rgb(45, 91, 47);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


.score{
    color: red;
    text-align: center;
    margin-top: 3%;
    font-size: 50px;
}

.modeMines{
    margin-top: 2%;
    margin-left: 50%;
     transform: translate(-50%);
}

