
.minesPage{
    flex: 1;
    position: absolute;
    height: 100%;
    width: calc(100% - 250px);
    
    background-color: black;
}

.box{
    
    position:relative;
    left: 25%;
    display: flex;
    justify-content: center;
    width: 50%;          
    height: auto;       
    max-width: 100%;         
    max-height: 100%;       
    aspect-ratio: 1 / 1;    
    
    background-color: rgb(29, 39, 29);
   
    
}

.gameMinesButton{
    height: 17%;
    aspect-ratio: 1/1;
    margin: 7.3%;
    font-size: 20px;
   
    color: rgb(241, 241, 241);
    background-color: rgb(45, 91, 47);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


.score{
    color: red;
    text-align: center;
    margin-top: 3%;
    font-size: 50px;
}

.modeMines{
    margin-top: 2%;
    margin-left: 50%;
     transform: translate(-50%);
}

