
.nestedLayout{
    display: flex;
    height: 100%;
    width: 200px;

    background-color: brown; /*Dev color*/
}

.gameNavPanel{

    display: flex;
    position: flex;
    height: 100%;
    background-color: rgb(68, 139, 100);
    width: 100%;
    text-align: center;
    flex-direction: column;
    
    
}
.navButtonSlot{
    padding-top: 10px;
    height: 50px;
}
.gameNavButton{
    height: 100%;
    width: 95%;
    border-radius: 20px;
    background-color: rgb(45, 105, 75);
}

